# MiniZero / ResTNet Configuration File for 9x9 Go (RRTRRT Architecture)

# Environment Settings
env_board_size=9

# Network Architecture Settings
nn_embed_kernel_size=3
nn_blocks_type=R_R_T_R_R_T
nn_policy_type=P
nn_value_type=TV
nn_bv_flag=false

# Training / Server Settings
zero_end_iteration=500
zero_num_parallel_games=32
zero_num_threads=4